{% extends "base.html" %}

{% load static %}

{% block title %}Chamado n°. {{chamado.id}}{% endblock %}

{% block content %}
    <div class="chamado-info">
    <h1>{{chamado.titulo}}</h1>
    <p>Descrição: {{chamado.descricao}}</p>
    <p>Usuário: {{chamado.usuario}}</p>
    <p>Setor: {{chamado.setor}}</p>
    <p>Categoria: {{chamado.categoria}}</p>
    <p>Status: {{chamado.status}}</p>
    <p>Prioridade: {{chamado.prioridade}}</p>
    <p>Data de Criação: {{chamado.data_criacao}}</p>
    <p>Data de Atualização: {{chamado.data_atualizacao}}</p>
    <p>Técnico Responsável: {{chamado.tecnico}}</p>
    </div>
    <a href="{% url 'chamados'%}">Voltar para a lista</a>
{% endblock %}